@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600;700&family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap");
@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  color: #0f172a;
  background: #f8f9ff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  background: #f8f9ff;
}

.font-heading {
  font-family: "Hanken Grotesk", sans-serif;
}

.font-mono {
  font-family: "JetBrains Mono", monospace;
}